.guide-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    height: 100vh; /* Ensure it takes full height of the viewport */;
}

.guide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    max-height: 90vh; /* Use max-height for responsiveness */
    margin-top: calc(7vh - 200px); /* Move the container up by 100px */
    border-radius: 10px;
    background-color: #ffffffb5;
    overflow: hidden; /* Prevent page overflow */
}

.guide-title {
    font-weight: 700;
    font-size: 68px;
    color: #004e65;
    margin-top: 20px;
}

.guide-bg {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.guide-1st-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 1100px;
    max-height: 60vh;
    overflow-y: auto;
}

.blue-logo-icon {
    display: block;
    margin: 0 auto 20px;
    height: 374px;
}

.msg-noreqres1 {
    color: #2B9DC1;
    margin-bottom: -20px;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2;
    padding: 10px 30px;
}

.msg-noreqres1 b {
    color: #027091;
}

.msg-noreqres2 {
    color: #2B9DC1;
    margin-bottom: -2px;
}

.lab-test-table td {
    color: #027091;
}
.request-row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.lab-test-table {
    width: 80%; /* Reduce the table width */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
    padding-right: 10px; /* Adjust padding for compactness */
    padding-left: 10px;
}

.lab-test-table th, .lab-test-table td {
    border: 1px solid #2B9DC1;
    padding: 4px 8px; /* Reduce padding to make the table thinner */
    text-align: center;
}

.lab-test-table th {
    background-color: #2B9DC1;
    color: #fff;
}

.lab-test-table td {
    font-size: 14px; /* Optionally reduce font size for a more compact look */
}

.guide-1st-container::-webkit-scrollbar {
    width: 10px;
}

.guide-1st-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.guide-1st-container::-webkit-scrollbar-thumb {
    background: #95CFE1;
    border-radius: 100px;
}

.guide-1st-container::-webkit-scrollbar-thumb:hover {
    background: #47a3c0;
}

.spacing {
    opacity: 0%;
}