.submit-container-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 6.5vh;
    width: 100%;
    height: 805px;
    gap: 40px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.s-c-a-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 805px;
    background-color: #2b9ec1b0;
    border-radius: 10px;
}

.s-c-a-l-epithet {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    margin-top: 45px;
}

.s-c-a-l-e-text {
    margin-top: -25px;
}

.s-c-a-l-whiteline {
    margin-top: 15px;
    width: 400px;
    border-radius: 20px;
}

.s-c-a-l-information {
    margin-top: 30px;
}

.s-c-a-l-i-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    gap: 5px;
}

.s-c-a-l-information input {
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2B9DC1;
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 100px;
    text-align: center;
}

.s-c-a-l-i-additionalinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    font-size: 18px;
    color: #ffffff;
    opacity: 60%;
    transition: opacity 0.3s ease;
}

.s-c-a-l-i-additionalinfo:hover {
    opacity: 100%;
}

.s-c-a-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 805px;
    background-color: #ffffffb5;
    border-radius: 10px;
}

.s-c-a-r-title {
    font-weight: 700;
    font-size: 68px;
    color: #004e65;
    margin-top: 20px;
}

.s-c-a-r-container-everything {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 15px;
    width: 1120px;
    height: 630px;
    border-radius: 10px;
}

.s-c-a-r-c-e-scroll {
    width: 1060px;
    height: 590px;
    max-height: 590px;
    overflow: auto;
}

.s-c-a-r-c-e-scroll::-webkit-scrollbar {
    width: 10px;
}  

.s-c-a-r-c-e-scroll::-webkit-scrollbar-thumb {
    background-color: #95CFE1;
    border-radius: 100px;
}
  
.s-c-a-r-c-e-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #2b9ec1c4;
    cursor: pointer;
}

.s-c-a-r-c-e-s-n-title {
    color: #2B9DC1;
    font-size: 44px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-right: 22px;
    position: relative;
}

.s-c-a-r-c-e-s-n-title::after {
    content: "";
    flex-grow: 1;
    height: 4px;
    background-color: #2B9DC1;
    opacity: 40%;
    margin-left: 20px;
}

.s-c-a-r-c-e-s-n-container {
    position: relative;
    display: grid;
    flex-direction: column;
    padding-left: 30px;
    color: #004e65;
    gap: 10px;
    margin: 10px 0 10px;
}

.s-c-a-r-c-e-s-n-container-row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    color: #004e65;
    gap: 60px;
    margin: 10px 0 10px;
}

.s-c-a-r-c-e-s-n-container-row-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    color: #004e65;
    gap: 81px;
    margin: 10px 0 10px;
}

.s-c-a-r-c-e-s-n-container-others {
    position: relative;
    display: grid;
    flex-direction: column;
    color: #004e65;
    gap: 10px;
    margin: 10px -15px 10px;
}

.s-c-a-r-c-e-s-n-sampleinformation {
    padding-left: 38.5px;
}

.s-c-a-r-c-e-s-n-co-choices,
.s-c-a-r-c-e-s-n-co-o-choices,
.s-c-a-r-c-e-s-n-co-input {
    display: flex;
    gap: 7px;
    font-size: 26px;
    align-items: center;
    cursor: pointer;
    color: #004e65;
}
/*
.s-c-a-r-c-e-s-n-co-o-choices {
    padding-left: 26.5px;
}
*/

.s-c-a-r-c-e-s-n-maincontainer{
    display: grid;
    padding-left: 30px;
    margin-top: 10px;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 500px 500px;
}

.s-c-a-r-c-e-s-n-co-input,
.s-c-a-r-c-e-s-n-co-input-samples {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    gap: 7px;
    font-size: 26px;
    align-items: start;
    margin-left: 10px;
    cursor: auto;
    color: #004e65;
    
}

.s-c-a-r-c-e-s-n-co-input-samples {
    margin-left: -27px;
}

.s-c-a-r-c-e-s-n-co-input input,
.s-c-a-r-c-e-s-n-co-input-samples input {
    width: 565px;
    height: 35px;
    border: 2px solid #004e65;
    border-radius: 8px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: #004e65 ;
}

.s-c-a-r-c-e-s-n-co-i-samples {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s-c-a-r-c-e-s-n-co-i-samples input::placeholder {
    color:#004d65b7
}

.s-c-a-r-c-e-s-n-co-i-s-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: -5px -12px -40px -2px;
}

.s-c-a-r-c-e-s-n-co-i-s-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.s-c-a-r-c-e-s-n-co-i-s-b-add {
    background-color: #2b9ec1c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.s-c-a-r-c-e-s-n-co-i-s-b-add:hover {
    background-color: #fff;
    color: #2b9ec1c0;
    border: 3px solid #2b9ec1c0;
    border-radius: 5px;
}

.s-c-a-r-c-e-s-n-co-i-s-b-delete {
    background-color: #2b9ec1c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.s-c-a-r-c-e-s-n-co-i-s-b-delete:hover {
    background-color: #fff;
    color: #2b9ec1c0;
    border: 3px solid #2b9ec1c0;
    border-radius: 5px;
}

.s-c-a-r-c-e-s-n-co-choices span,
.s-c-a-r-c-e-s-n-co-o-choices span {
    padding-top: 2.5px;
    margin-left: 10px;
}

.s-c-a-r-c-e-s-n-co-others input[type="text"] {
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: #004e65;
    width: 900px;
    height: 35px;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 0 0 25px ;
    margin-bottom: 20px;
    border: 2px solid #004e65;
}

.s-c-a-r-c-e-s-n-co-o-input {
    margin: 0 50px 0;
    gap: 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: margin 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
}

.s-c-a-r-c-e-s-n-co-o-input.show {
    margin: 5px 50px -20px;
    max-height: 200px;
    opacity: 1;
}

.s-c-a-r-c-e-s-n-co-o-input input {
    font-size: 18px;
    color:#004d65b7;
}

.s-c-a-r-c-e-s-n-co-o-input input::placeholder {
    font-size: 18px;
    color:#004d65b7;
}

.s-c-a-r-c-e-s-n-co-choices-test {
    display: flex;
    gap: 19px;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
    color: #004e65;
}

.s-c-a-r-c-e-s-n-co-choices-test input[type="checkbox"] {
    appearance: none;
    margin-left: 8px;
    width: 22.5px;
    height: 22.5px;
    border: 1px solid #646464d9;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.s-c-a-r-c-e-s-n-co-choices-test input[type="checkbox"]:hover {
    border: 1px solid #646464;
}

.s-c-a-r-c-e-s-n-co-choices-test input[type="checkbox"]:checked {
    background-color: #2B9DC1;
    border-color: #2B9DC1;
}

.s-c-a-r-c-e-s-n-co-choices-test input[type="checkbox"]:checked:hover {
    background-color: #006786;
    border-color: #006786;
}

.s-c-a-r-c-e-s-n-co-choices-test input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 7px;
    margin-top: 3px;
}

.s-c-a-r-c-e-s-n-co-tests {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    gap: 10px;
}

.s-c-a-r-c-e-s-n-co-t-choices {
    display: flex;
    gap: 19px;
    align-items: center;
    cursor: pointer;
    color: #004e65;
}

.s-c-a-r-c-e-s-n-co-t-choices .checkmark {
    font-size: 24px;
}

.s-c-a-r-c-e-s-n-co-t-choices-cst {
    display: flex;
    gap: 19px;
    font-size: 24px;
    align-items: center;
    cursor: pointer;
    color: #004e65;
    margin-bottom: -10px;
}

.s-c-a-r-c-e-s-n-co-t-choices input[type="checkbox"],
.s-c-a-r-c-e-s-n-co-t-choices-cst input[type="checkbox"] {
    appearance: none;
    margin-left: 8px;
    width: 18.5px;
    height: 18.5px;
    border: 1px solid #646464d9;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.s-c-a-r-c-e-s-n-co-t-choices input[type="checkbox"]:hover,
.s-c-a-r-c-e-s-n-co-t-choices-cst input[type="checkbox"]:hover {
    border: 1px solid #646464;
}

.s-c-a-r-c-e-s-n-co-t-choices input[type="checkbox"]:checked,
.s-c-a-r-c-e-s-n-co-t-choices-cst input[type="checkbox"]:checked {
    background-color: #2B9DC1;
    border-color: #2B9DC1;
}

.s-c-a-r-c-e-s-n-co-t-choices input[type="checkbox"]:checked:hover,
.s-c-a-r-c-e-s-n-co-t-choices-cst input[type="checkbox"]:checked:hover {
    background-color: #006786;
    border-color: #006786;
}

.s-c-a-r-c-e-s-n-co-t-choices input[type="checkbox"]:checked::after, 
.s-c-a-r-c-e-s-n-co-t-choices-cst input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 6px;
    margin-top: 2px;
}

.s-c-a-r-c-e-s-n-co-t-subtests {
    display: flex;
    gap: 19px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    color: #004e65;
}

.s-c-a-r-c-e-s-n-co-t-subtests input[type="checkbox"] {
    appearance: none;
    margin-left: 8px;
    width: 16.5px;
    height: 16.5px;
    border: 1px solid #646464d9;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.s-c-a-r-c-e-s-n-co-t-subtests input[type="checkbox"]:hover {
    border: 1px solid #646464;
}

.s-c-a-r-c-e-s-n-co-t-subtests input[type="checkbox"]:checked {
    background-color: #2B9DC1;
    border-color: #2B9DC1;
}

.s-c-a-r-c-e-s-n-co-t-subtests input[type="checkbox"]:checked:hover {
    background-color: #006786;
    border-color: #006786;
}

.s-c-a-r-c-e-s-n-co-t-subtests input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-top: 1.5px;
}

.s-c-a-r-c-e-s-n-co-t-choices span {
    font-size: 16px;
}

.s-c-a-r-c-e-s-n-co-t-s-c-text {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.s-c-a-r-c-e-s-n-c-notes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s-c-a-r-c-e-s-n-c-note {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 50px;
    color: #004e65;
    opacity: 30%;
    transition: opacity 0.3s ease;
}

.s-c-a-r-c-e-s-n-c-note:hover {
    opacity: 100%;
}

.s-c-a-r-c-e-s-n-co-t-s-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 0 50px;
    font-size: 14px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.s-c-a-r-c-e-s-n-co-t-s-container input[type="text"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #004e65;
    width: 600px;
    height: 35px;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 25px;
    margin-left: 10px;
    border: 2px solid #004e65;
}

.s-c-a-r-c-e-s-n-co-t-s-container input[type="text"]::placeholder {
    font-size: 18px;
}

.s-c-a-r-c-e-s-n-co-t-subchoices input::placeholder {
    color:#004d65b7;
}

.s-c-a-r-c-e-sc-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-c-a-r-c-e-sc-submit button {
    border: none;
    transition: color 0.3s ease, 
        background 0.3s ease, 
}

.s-c-a-r-c-e-sc-submit button:hover{
    color: #2B9DC1;
    background: #fff;
    border: 4px solid #2B9DC1
}

.s-c-a-r-c-e-sc-su-button {
    font-weight: 700;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 985px;
    height: 90px;
    background-color: #2B9DC1;
    border-radius: 10px;
    margin: 20px 0 20px;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}