.font-link {
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
  }

.messages-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11.5vh;
    gap: 140px;
}

.messages-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;   
    width: 470px;
    height: 700px;
    background: #ffffffb5;
    padding-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.messages-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
}

.messages-logo img{
    width: 431px;
    margin-bottom: 20px;
}

.messages-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.req-text {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: -110px;
}

.ty-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #004e65;
    margin-top: -20px;
}

.nis-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004e65;
    margin-top: -5px;
}

.pc-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004e65;
    margin-top: -20px;
}

.es-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004e65;
    margin-top: -20px;
}

.rs-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004e65;
    margin-top: -10px;
}

.left-text {
    text-align: left; /* Keep text aligned to the left */
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif; /* Font-family */
    font-size: 48px;
    font-weight: 700; /* Font weight */
    color: #2B9DC1; /* Text color */
    margin-top: -20px; /* Adjust margin */
    width: 100%; /* Ensure the text spans the full width of the container */
}

.left-text-small {
    text-align: left; /* Keep text aligned to the left */
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif; /* Font-family */
    font-size: 20px;
    font-weight: 700; /* Font weight */
    color: #2B9DC1; /* Text color */
    margin-top: -5px; /* Adjust margin */
    padding-bottom: 10px;
    width: 100%; /* Ensure the text spans the full width of the container */
    position: relative; /* Use relative positioning */
    left: 33px; /* Move the text 100px to the left outside the container */
}

.bigger-text {
    display: flex;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #004e65;
    margin-top: -20px;
}

.messages-button{
    display: flex;
    margin: 20px;
}

.messages-button img {
    width: 45px;
}

.messages-button button{
    border: none;
    transition: color 0.3s ease,
        background-color 0.3s ease;
}

.messages-button button:hover{
    color: #2B9DC1;
    background-color: #fff;
    border: 4px solid #2B9DC1
}

.messages-button-text:hover img {
    content: url('BackButtonBlue.png');
}

.messages-button-text{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 405px;
    height: 70px;
    color: #fff;
    background: #2B9DC1;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.messages-container textarea {
    width: 408px;
    height: 340px;
    padding: 10px;
    margin-bottom: 0px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #01232e;
    border: 4px solid #2B9DC1;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: left;
    resize: none;
    overflow-y: auto; /* Ensure the scrollbar is only visible when necessary */
}

.messages-container textarea::placeholder {
    color: #004d65c2;
}

.messages-container textarea:focus {
    outline: none;
}
.messages-container textarea::-webkit-scrollbar {
    width: 12px;
}

.messages-container textarea::-webkit-scrollbar-track {
    border-radius: 8px;
}

.messages-container textarea::-webkit-scrollbar-thumb {
    background: #2B9DC1;
    border-radius: 8px;
    border: 2px solid #f1f1f1;
}

.messages-container textarea::-webkit-scrollbar-thumb:hover {
    background: #227c97;
    cursor: pointer;
}
