.request-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.request-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 805px;
    margin-top: 7vh;
    border-radius: 10px;
    background-color: #ffffffb5;
}

.request-title {
    font-weight: 700;
    font-size: 64px;
    color: #004e65;
}

.request-1st-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1200px;
    height: 603px;
    border-radius: 10px;
    margin-top: 20px;
}

.request-1st-container-column-row {
    display: flex;
    gap: 10px;
}

.request-1st-container-column-row input {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    background-color: #2B9DC1;
    color: #fff;
}

.blue-logo-icon {
    display: block;
    margin: 0 auto 20px;
    height: 374px;
}

.msg-noreqres1 {
    color: #2B9DC1;
    margin-bottom: -20px;
}

.msg-noreqres2 {
    color: #2B9DC1;
    margin-bottom: -2px;
}

.request-row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}