.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #2b9ec16f;
    padding-top: 6px;
    padding-bottom: 6px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #2b9ec16f;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    overflow: visible; /* Allow content to overflow */
}

.left-stuff {
    padding-left: 355px;
    gap: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.left-stuff img {
    width: 70px;
    position: absolute; /* Position logo absolutely */
    top: -20px; /* Adjust as needed to control vertical overflow */
    left: 250px;
    transform: translateX(-20px); /* Fine-tune to control horizontal overflow */
}

.right-stuff {
    padding-right: 330px;
    display: flex;
    align-items: center;
}

.title {
    height: auto;
    width: auto;
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-left: -15px;
    opacity: 50%;
    transition: opacity 0.3s ease;
}

.title:hover {
    opacity: 100%;
}

.home {
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

.home img {
    width: 65px;
    opacity: 50%;
    transition: opacity 0.3s ease;
}


.home img:hover {
    opacity: 100%;
}

.navhome button {
    border: none;
    background: none;
}


.logout-button{
    display: flex;
    background-color: #2b9ec100; 
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    float: right;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.logout-button-text{
    font-size: 26px;
    font-weight: 200;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #ffffffa7;
    position: relative; 
    z-index: 1;
    transition: color 0.3s ease;
}

.logout-button-text:hover {
    color: #ffffff;
    transition: transform 0.3s ease;
}

.logout-button-text::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -5px;
    background-color: #ffffff;
}

.center::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.center:hover::after{
    transform: scale(1,2);
}

button, summary {
    outline: none;
}

.login-prompt {
    font-size: 26px;
    font-weight: 200;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #ffffffa7;
    padding: 10px 25px;
    transition: color 0.3s ease;
}

.login-prompt:hover {
    color: #fff;
}