.pendingrequest-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.pendingrequest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 805px;
    margin-top: 7vh;
    border-radius: 10px;
    background-color: #ffffffb5;
}

.pendingrequest-title {
    font-weight: 700;
    font-size: 64px;
    color: #004e65;
}

.pendingrequest-1st-container {
    width: 1200px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pendingrequest-2nd-container {
    width: 1200px;
    height: 470px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.pendingrequest-1st-container-column-row {
    display: flex;
    gap: 10px;
}

.pendingrequest-1st-container-column-row input {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    background-color: #2B9DC1;
    color: #fff;
}

.pendingrequest-1st-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    background-color: #004e65;
    border-radius: 10px;
    width: 900px;
    height: 40px;
    font-weight: 700;
    color: #fff;
}

.request-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 185px 0 175px;
    height: 35px;
    border: none;
    background-color: #2b9ec1;
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.3s ease;
}

.request-button:hover {
    opacity: 100%;
}

.blue-logo-icon {
    display: block;
    margin: 0 auto 20px;
    height: 374px;
}

.msg-noreqres1 {
    color: #2B9DC1;
    margin-bottom: -20px;
}

.msg-noreqres2 {
    color: #2B9DC1;
    margin-bottom: -2px;
}

.pendingrequest-row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
