.pendingrequest-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.pendingrequest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 805px;
    margin-top: 6.5vh;
    border-radius: 10px;
    background-color: #ffffffb5;
}

.pendingrequest-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 64px;
    color: #004e65;
}

.pendingrequest-popup {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
    font-size: 52px;
    font-weight: bold;
    position: relative;
}

.popup-container {
    position: absolute;
    top: 3px;
    right: -210px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
    font-size: 14px;
    width: 150px;
}

.pendingrequest-popup:hover .popup-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.pendingrequest-1st-container {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 616px;
    margin-top: 20px;
    flex-direction: column;
    gap: 16px;
}

.empty-2nd-container {
    width: 1200px;
    height: 485px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.empty-2nd-container img {
    margin-top: -10px;
}

.pendingrequest-1st-container-column-row {
    display: flex;
    gap: 10px;
}

.pendingrequest-1st-container-column-row input {
    text-align: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    background-color: #2B9DC1;
    color: #fff;
}

.pendingrequest-1st-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    gap: 50px;
    background-color: #004e65;
    border-radius: 10px;
    width: 1100px;
    height: 40px;
    font-weight: 700;
    color: #fff;
}

.pendingrequest-1st-container-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.pendingrequest-1st-container-header-title-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.my-requests {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    gap: 45px;
    background-color: #2B9DC1;
    border-radius: 10px;
    width: 1200px;
    height: 40px;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.3s ease;
}

.req-side {
    width: 500px;
}

.req-lineseparator {
    margin: -40px;
    font-size: 15px;
}

.req-middle {
    width: 860px
}

.my-requests:hover {
    opacity: 100%;
}

.blue-logo-icon {
    display: block;
    margin: 0 auto 20px;
    height: 374px;
}

.msg-noreqres1 {
    color: #2B9DC1;
    margin-bottom: -20px;
}

.msg-noreqres2 {
    color: #2B9DC1;
    margin-bottom: -2px;
}

.pendingrequest-row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.pendingrequests-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    overflow: hidden;
    height: 560px;
    cursor: grab;
}

.pendingrequests-list:active {
    cursor: grabbing;
}

.request-container-item {
    display: flex;
    align-items: center;
}

.request-container-item button {
    cursor: pointer;
}
