

/* Container Styling */
.database-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.database-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2000px;
    height: 900px;
    margin-top: 7vh;
    border-radius: 10px;
    background-color: #ffffffb5;
    overflow-y: scroll; /* Enable vertical scrolling */
}

/* Title Styling */
.database-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: #004e65;
    margin-bottom: 20px;
}

/* Table Section Styling */
.table-section {
    width: 100%;
    margin-bottom: 40px; /* Space between sections */
}

.table-section h2 {
    font-size: 1.8rem;
    color: #004e65;
    margin-bottom: 10px;
    text-align: center;
}

/* Table Wrapper Styling */
.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling for tables */
    margin-bottom: 20px;
}

/* Table Styling */
.test-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

.test-table th, .test-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.test-table th {
    background-color: #004e65;
    color: white;
    font-weight: bold;
}

.test-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.test-table tbody tr:hover {
    background-color: #ddd;
}

.test-table td {
    color: #333;
    font-size: 14px;
}

/* Responsive Table */
@media screen and (max-width: 768px) {
    .test-table, .test-table th, .test-table td {
        display: block;
        width: 100%;
    }
    .test-table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .test-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    .test-table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}